.slot {
  display: flex;
  justify-content: center; /* centra las imágenes */
  gap: 20px;               /* espacio entre ellas */
}

.slot img {
  width: 200px;            /* tamaño uniforme */
}
#video-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Esto es lo que lo manda hasta atrás */
    object-fit: cover;
}

<<<<<<< HEAD
#video-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Esto es lo que lo manda hasta atrás */
    object-fit: cover;
}

=======
>>>>>>> 65ad0fb9ecdc2e2d868a3f0469db6e5a0a9d852b
/* Opcional: Para que tu texto se lea bien si el video es muy claro */
body {
    color: white; /* Cambia el color de tu texto a blanco para que resalte */
    font-family: sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> 65ad0fb9ecdc2e2d868a3f0469db6e5a0a9d852b
/* Esto hace que TODAS las letras, incluyendo h1, h2 y p, se vuelvan blancas y tengan sombra */
body, h1, h2, p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: Arial, sans-serif; /* Opcional: le da un tipo de letra más moderno */
}

/* El estilo de tu video que ya teníamos */
#video-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}
